@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Zen+Maru+Gothic:wght@500;700;900&display=swap");
/*
font-family: 'Tangerine', cursive;
font-family: 'Zen Maru Gothic', sans-serif;
*/
/* line 40, fits.scss */
article * { margin: 0px; padding: 0px; font-family: 'Zen Maru Gothic', sans-serif; font-weight: 500; font-size: 21px; line-height: 1.6em; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 40, fits.scss */
  article * { font-size: 2.1vw; } }
@media screen and (max-width: 768px) { /* line 40, fits.scss */
  article * { font-size: 3.5vw; line-height: 1.8em; } }

/* line 56, fits.scss */
article br { line-height: 0 !important; }
@media screen and (max-width: 768px) { /* line 59, fits.scss */
  article a { text-decoration: none; transition: none; } }
/* line 65, fits.scss */
article img { width: 100%; }
/* line 68, fits.scss */
article a:not(.noLink):not(.noFade) { text-decoration: none; transition: opacity 0.2s; }
/* line 73, fits.scss */
article a:hover:not(.noLink):not(.noFade) { opacity: 0.7; }
@media screen and (max-width: 768px) { /* line 73, fits.scss */
  article a:hover:not(.noLink):not(.noFade) { opacity: 1; } }
/* line 79, fits.scss */
article li { list-style: none; }

/* line 85, fits.scss */
.st-Container { width: 100%; max-width: 100%; padding: 0; }
/* line 89, fits.scss */
.st-Container article { width: 100%; max-width: 100%; padding: 0; }
/* line 95, fits.scss */
.st-Container article section.content .inner { width: 1024px; margin: auto; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 95, fits.scss */
  .st-Container article section.content .inner { width: 100%; padding: 0 3vw; } }
@media screen and (max-width: 768px) { /* line 95, fits.scss */
  .st-Container article section.content .inner { width: 100%; padding: 3vw 6vw; } }
/* line 107, fits.scss */
.st-Container article section.content:last-of-type { margin-bottom: 50px; }
/* line 114, fits.scss */
.st-Container article section.hedWrap .inner { padding-top: 70px; }
/* line 116, fits.scss */
.st-Container article section.hedWrap .inner .mainTitle { text-align: center; border-top: 2px solid #440062; border-bottom: 2px solid #440062; position: relative; padding: 15px 0; padding-bottom: 20px; }
/* line 123, fits.scss */
.st-Container article section.hedWrap .inner .mainTitle .en { font-family: 'Tangerine', cursive; font-size: 50px; font-size: 700; color: #440062; line-height: 1em; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 123, fits.scss */
  .st-Container article section.hedWrap .inner .mainTitle .en { font-size: 5vw; } }
@media screen and (max-width: 768px) { /* line 123, fits.scss */
  .st-Container article section.hedWrap .inner .mainTitle .en { font-size: 10vw; } }
/* line 136, fits.scss */
.st-Container article section.hedWrap .inner .mainTitle .jp { position: absolute; background-color: #fff; color: #440062; left: 50%; bottom: 0; padding: 0 10px; transform: translate(-50%, 50%); line-height: 1em; }
/* line 147, fits.scss */
.st-Container article section.hedWrap .inner .catchWrap { text-align: center; }
/* line 149, fits.scss */
.st-Container article section.hedWrap .inner .catchWrap .catch { font-size: 35px; letter-spacing: 2px; font-weight: 900; color: #85318e; margin: 20px 0; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 149, fits.scss */
  .st-Container article section.hedWrap .inner .catchWrap .catch { font-size: 3.5vw; letter-spacing: 0.2vw; margin: 2vw 0; } }
@media screen and (max-width: 768px) { /* line 149, fits.scss */
  .st-Container article section.hedWrap .inner .catchWrap .catch { font-size: 7vw; letter-spacing: 0.4vw; margin: 4vw 0; line-height: 12vw; } }
/* line 167, fits.scss */
.st-Container article section.hedWrap .inner .catchWrap .body { font-size: 20px; letter-spacing: 4px; line-height: 38px; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 167, fits.scss */
  .st-Container article section.hedWrap .inner .catchWrap .body { font-size: 2vw; letter-spacing: 0.4vw; line-height: 4vw; } }
@media screen and (max-width: 768px) { /* line 167, fits.scss */
  .st-Container article section.hedWrap .inner .catchWrap .body { font-size: 4vw; letter-spacing: 0.8vw; line-height: 8vw; } }
/* line 187, fits.scss */
.st-Container article section.prdWrap .inner .products { display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }
@media screen and (max-width: 768px) { /* line 187, fits.scss */
  .st-Container article section.prdWrap .inner .products { display: block; } }
/* line 195, fits.scss */
.st-Container article section.prdWrap .inner .products .image { width: 34%; overflow: hidden; border-radius: 50%; }
@media screen and (max-width: 768px) { /* line 195, fits.scss */
  .st-Container article section.prdWrap .inner .products .image { width: 60%; margin: auto; } }
/* line 205, fits.scss */
.st-Container article section.prdWrap .inner .products .texts { width: 60%; }
@media screen and (max-width: 768px) { /* line 205, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts { width: 100%; } }
/* line 210, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .name { display: block; position: relative; font-size: 30px; font-weight: 900; -webkit-text-stroke-width: 7px; font-weight: 700; margin: 0; border-bottom: 3px solid #fff; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 210, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .name { -webkit-text-stroke-width: 0.7vw; font-size: 3vw; border-bottom: 0.3vw solid #fff; } }
@media screen and (max-width: 768px) { /* line 210, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .name { -webkit-text-stroke-width: 1.5vw; font-size: 5vw; border-bottom: 0.6vw solid #fff; text-align: center; } }
/* line 230, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .name b { position: absolute; width: 100%; font-size: 30px; font-weight: 900; left: 0; top: 0; -webkit-text-stroke-width: 1px; z-index: 30; font-weight: 700; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 230, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .name b { font-size: 3vw; -webkit-text-stroke-width: 0.1vw; } }
@media screen and (max-width: 768px) { /* line 230, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .name b { font-size: 5vw; -webkit-text-stroke-width: 0.2vw; } }
/* line 250, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .body { border-top: 1px solid #fff; margin-top: 3px; font-size: 23px; padding: 10px 0; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 250, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .body { border-top: 0.1vw solid #fff; margin-top: 0.3vw; font-size: 2.3vw; padding: 1vw 0; } }
@media screen and (max-width: 768px) { /* line 250, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .body { border-top: 0.2vw solid #fff; margin-top: 0.6vw; font-size: 4vw; padding: 2vw 0; } }
/* line 268, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .bt { display: flex; flex-wrap: wrap; }
/* line 271, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .bt a { color: #fff; font-size: 25px; display: block; text-align: center; width: 285px; padding: 7px 0; border-radius: 10px; border: 3px solid #fff; margin-top: 10px; position: relative; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 271, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .bt a { font-size: 2.5vw; width: 30vw; padding: 0.7vw 0; border-radius: 1vw; border: 0.3vw solid #fff; margin-top: 1vw; } }
@media screen and (max-width: 768px) { /* line 271, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .bt a { font-size: 5vw; width: 60vw; padding: 3vw 0; } }
/* line 295, fits.scss */
.st-Container article section.prdWrap .inner .products .texts .bt a::after { content: ""; font-size: 0; position: absolute; top: 0; bottom: 0; right: 20px; margin: auto; display: block; width: 20px; height: 20px; border-top: 4px solid #fff; border-right: 4px solid #fff; border-radius: 1px; transform: rotate(45deg); }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 295, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .bt a::after { right: 2vw; width: 2vw; height: 2vw; border-top: 0.4vw solid #fff; border-right: 0.4vw solid #fff; border-radius: 0.1vw; } }
@media screen and (max-width: 768px) { /* line 295, fits.scss */
  .st-Container article section.prdWrap .inner .products .texts .bt a::after { right: 4vw; width: 4vw; height: 4vw; border-top: 0.8vw solid #fff; border-right: 0.8vw solid #fff; border-radius: 0.2vw; } }
/* line 335, fits.scss */
.st-Container article section.prdWrap:nth-child(2n) .products .image { order: 2; }
/* line 338, fits.scss */
.st-Container article section.prdWrap:nth-child(2n) .products .texts { order: 1; }
/* line 340, fits.scss */
.st-Container article section.prdWrap:nth-child(2n) .products .texts .bt { justify-content: flex-end; }
@media screen and (max-width: 768px) { /* line 340, fits.scss */
  .st-Container article section.prdWrap:nth-child(2n) .products .texts .bt { justify-content: center; } }
/* line 351, fits.scss */
.st-Container article section.prdWrap:nth-child(2n+1) .products .image { order: 1; }
/* line 354, fits.scss */
.st-Container article section.prdWrap:nth-child(2n+1) .products .texts { order: 2; }
/* line 356, fits.scss */
.st-Container article section.prdWrap:nth-child(2n+1) .products .texts .bt { justify-content: flex-start; }
@media screen and (max-width: 768px) { /* line 356, fits.scss */
  .st-Container article section.prdWrap:nth-child(2n+1) .products .texts .bt { justify-content: center; } }
/* line 369, fits.scss */
.st-Container article section.whiteWrap { background-color: #fff; }
/* line 373, fits.scss */
.st-Container article section.grapeWrap { background-color: #85318e; }
/* line 378, fits.scss */
.st-Container article section.grapeWrap .inner .products .texts .name { color: #440062; }
/* line 380, fits.scss */
.st-Container article section.grapeWrap .inner .products .texts .name b { color: #fff; }
/* line 385, fits.scss */
.st-Container article section.grapeWrap .inner .products .texts .body { color: #fff; }
/* line 389, fits.scss */
.st-Container article section.grapeWrap .inner .products .texts .bt a { background-color: #440062; }
/* line 398, fits.scss */
.st-Container article section.greenWrap { background-color: #8ee45b; }
/* line 403, fits.scss */
.st-Container article section.greenWrap .inner .products .texts .name { color: #fff; border-bottom-color: #003201; }
/* line 406, fits.scss */
.st-Container article section.greenWrap .inner .products .texts .name b { color: #003201; }
/* line 410, fits.scss */
.st-Container article section.greenWrap .inner .products .texts .body { color: #003201; border-top-color: #003201; }
/* line 415, fits.scss */
.st-Container article section.greenWrap .inner .products .texts .bt a { background-color: #003201; }
/* line 424, fits.scss */
.st-Container article section.blueWrap { background-color: #7cb2cc; }
/* line 429, fits.scss */
.st-Container article section.blueWrap .inner .products .texts .name { color: #fff; border-bottom-color: #334478; }
/* line 432, fits.scss */
.st-Container article section.blueWrap .inner .products .texts .name b { color: #334478; }
/* line 436, fits.scss */
.st-Container article section.blueWrap .inner .products .texts .body { color: #334478; border-top-color: #334478; }
/* line 441, fits.scss */
.st-Container article section.blueWrap .inner .products .texts .bt a { background-color: #334478; }
/* line 450, fits.scss */
.st-Container article section.orangeWrap { background-color: #e99e2e; }
/* line 455, fits.scss */
.st-Container article section.orangeWrap .inner .products .texts .name { color: #fff; border-bottom-color: #a5170a; }
/* line 458, fits.scss */
.st-Container article section.orangeWrap .inner .products .texts .name b { color: #a5170a; }
/* line 462, fits.scss */
.st-Container article section.orangeWrap .inner .products .texts .body { color: #a5170a; border-top-color: #a5170a; }
/* line 467, fits.scss */
.st-Container article section.orangeWrap .inner .products .texts .bt a { background-color: #a5170a; }
/* line 477, fits.scss */
.st-Container article section.yellowWrap { background-color: #ffeb78; }
/* line 482, fits.scss */
.st-Container article section.yellowWrap .inner .products .texts .name { color: #fff; border-bottom-color: #d0830d; }
/* line 485, fits.scss */
.st-Container article section.yellowWrap .inner .products .texts .name b { color: #d0830d; }
/* line 489, fits.scss */
.st-Container article section.yellowWrap .inner .products .texts .body { color: #d0830d; border-top-color: #d0830d; }
/* line 494, fits.scss */
.st-Container article section.yellowWrap .inner .products .texts .bt a { background-color: #d0830d; }
/* line 503, fits.scss */
.st-Container article section.redWrap { background-color: #df657d; }
/* line 508, fits.scss */
.st-Container article section.redWrap .inner .products .texts .name { color: #fff; border-bottom-color: #a11934; }
/* line 511, fits.scss */
.st-Container article section.redWrap .inner .products .texts .name b { color: #a11934; }
/* line 515, fits.scss */
.st-Container article section.redWrap .inner .products .texts .body { color: #fff; border-top-color: #a11934; }
/* line 520, fits.scss */
.st-Container article section.redWrap .inner .products .texts .bt a { background-color: #a11934; }
/* line 529, fits.scss */
.st-Container article section.pinkWrap { background-color: #e68ea6; }
/* line 534, fits.scss */
.st-Container article section.pinkWrap .inner .products .texts .name { color: #fff; border-bottom-color: #db1e18; }
/* line 537, fits.scss */
.st-Container article section.pinkWrap .inner .products .texts .name b { color: #db1e18; }
/* line 541, fits.scss */
.st-Container article section.pinkWrap .inner .products .texts .body { color: #db1e18; border-top-color: #db1e18; }
/* line 546, fits.scss */
.st-Container article section.pinkWrap .inner .products .texts .bt a { background-color: #db1e18; }
/* line 559, fits.scss */
.st-Container .markBnrWrap { width: 1024px; margin: auto; margin-top: 20px; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 559, fits.scss */
  .st-Container .markBnrWrap { padding: 0 2.4vw; width: 100%; } }
@media screen and (max-width: 768px) { /* line 559, fits.scss */
  .st-Container .markBnrWrap { padding: 0 5vw; width: 100%; } }

/* line 573, fits.scss */
.topSnsWrap { width: 1024px; margin-left: auto !important; margin-right: auto !important; }
@media screen and (min-width: 769px) and (max-width: 1024px) { /* line 573, fits.scss */
  .topSnsWrap { width: 100%; } }
@media screen and (max-width: 768px) { /* line 573, fits.scss */
  .topSnsWrap { width: 100%; } }

/*# sourceMappingURL=fits.css.map */
